<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppName</key>
	<string>nezhaguilai</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>哪吒归来</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>57.png</string>
		<string>114.png</string>
		<string>72.png</string>
		<string>144.png</string>
		<string>76.png</string>
		<string>120.png</string>
		<string>152.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>57.png</string>
				<string>114.png</string>
				<string>72.png</string>
				<string>144.png</string>
				<string>76.png</string>
				<string>120.png</string>
				<string>152.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.zcgames.nezhaguilai</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.30006</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nezhaguilai</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.30007</string>
	<key>CHARTBOOST_APP_ID</key>
	<string>5558072d0d6025747a33f569</string>
	<key>CHARTBOOST_APP_SIGNATURE</key>
	<string>8e5af8063af6fbe1422301e67dfe29f882f6820f</string>
	<key>CrashlyticsAPIKey</key>
	<string>4cc75653c1ccc9c227e6d7a8b3f12d94488935a8</string>
	<key>CrashlyticsDebugMode</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SdkType</key>
	<string>14</string>
	<key>TALKINGDATA_APP_ID</key>
	<string>14cef4305bc74007bf1ff11f6ae63c19</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/YunYueFont.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ZC_PAYMENT_APP_ID</key>
	<string>547347373077037056</string>
	<key>ZC_PAYMENT_CHANNEL</key>
	<string>0</string>
	<key>ZC_PAYMENT_NOTIFY_URL</key>
	<string>http://sdk.nataku.yunyuegame.com/sdk/zcgame/pay_callback</string>
	<key>ZC_PAYMENT_URL_SCHEME</key>
	<string>nezhaguilai</string>
	<key>reyun_appid</key>
	<string>149036952149c6869fa32ce2f9805258</string>
</dict>
</plist>
