*.o
*.os
*.d
*.swp
*.pyc
*.dblite
.gdb_history
package/*/.gdb_history
local.properties
main
*.DS_Store
*.ipa
*.list
*.sdf
*.suo
*.user
*.opensdf
encrypt.lock
Debug.win32
Release.win32
debuglib
src2.1.3/toluaAPI/luaapi.cpp
cocos2d-x-2.1.5/cocos2dx/proj.linux/libcocos2dx.a
cocos2d-x-2.1.5/scripting/lua/luajit/LuaJIT-2.0.1/src
src2.1.3/pbc/libpbc.a
/package/android_demo/libs
/package/android_demo/pkgrepo
/package/android_demo/assets/
/package/android_demo/bin/
/package/android_demo/obj/
/package/android_demo/gen/

/package/android_xp/libs
/package/android_xp/pkgrepo
/package/android_xp/assets/
/package/android_xp/bin/
/package/android_xp/obj/
/package/android_xp/gen/

/package/android_xp_p8/libs
/package/android_xp_p8/pkgrepo
/package/android_xp_p8/assets/
/package/android_xp_p8/bin/
/package/android_xp_p8/obj/
/package/android_xp_p8/gen/

package/ios/*/build
package/ios/*/assets
package/ios/pkgrepo/assetspp
package/ios/lszb_pp/lszb.xcodeproj/project.xcworkspace
package/ios/lszb_pp/lszb.xcodeproj/xcuserdata
package/ios/*/*.xcodeproj/xcuserdata
package/ios/*/*.xcworkspace/xcuserdata
package/ios/*/*.xcodeproj/project.xcworkspace/xcuserdata
package/ios/build
Pods

/package/Ourpalm_Android_NewPay_Lib_2.2.1_360_ToCP/assets
/package/Ourpalm_Android_NewPay_Lib_2.2.1_360_ToCP/obj
/package/Ourpalm_Android_NewPay_Lib_2.2.1_360_ToCP/gen
/package/Ourpalm_Android_NewPay_Lib_2.2.1_360_ToCP/bin

/package/android_360/assets
/package/android_360/libs/armeabi
/package/android_360/obj
/package/android_360/gen
/package/android_360/bin

/package/android_xp_lh/libs
/package/android_xp_lh/assets
/package/android_xp_lh/obj
/package/android_xp_lh/gen
/package/android_xp_lh/bin

/package/android_iapppay/libs
/package/android_iapppay/assets
/package/android_iapppay/obj
/package/android_iapppay/gen
/package/android_iapppay/bin

/package/android_iapppay_lh/libs
/package/android_iapppay_lh/assets
/package/android_iapppay_lh/obj
/package/android_iapppay_lh/gen
/package/android_iapppay_lh/bin

/package/iapppay_library/assets
/package/iapppay_library/obj
/package/iapppay_library/gen
/package/iapppay_library/bin

/package/android_jodo_lh/assets
/package/android_jodo_lh/libs/armeabi
/package/android_jodo_lh/obj
/package/android_jodo_lh/gen
/package/android_jodo_lh/bin

/package/android_ljsdk_lh/assets
/package/android_ljsdk_lh/libs/armeabi
/package/android_ljsdk_lh/obj
/package/android_ljsdk_lh/gen
/package/android_ljsdk_lh/bin

/package/Ourpalm_Android_NewPay_Lib_2.2.1_UC_ToCP/assets
/package/Ourpalm_Android_NewPay_Lib_2.2.1_UC_ToCP/obj
/package/Ourpalm_Android_NewPay_Lib_2.2.1_UC_ToCP/gen
/package/Ourpalm_Android_NewPay_Lib_2.2.1_UC_ToCP/bin

/package/android/assets
/package/android/libs/armeabi
/package/android/obj
/package/android/gen
/package/android/bin

/package/ljsdk_library/assets
/package/ljsdk_library/libs/armeabi
/package/ljsdk_library/obj
/package/ljsdk_library/gen
/package/ljsdk_library/bin

/package/android_uc/assets
/package/android_uc/libs/armeabi
/package/android_uc/obj
/package/android_uc/gen
/package/android_uc/bin

/package/android_ourpalm_uc_lh/assets
/package/android_ourpalm_uc_lh/libs/armeabi
/package/android_ourpalm_uc_lh/obj
/package/android_ourpalm_uc_lh/gen
/package/android_ourpalm_uc_lh/bin
/package/android_ourpalm_uc_lh/build

/package/android_ourpalm_yy/assets
/package/android_ourpalm_yy/libs/armeabi
/package/android_ourpalm_yy/obj
/package/android_ourpalm_yy/gen
/package/android_ourpalm_yy/bin
/package/android_ourpalm_yy/build

/package/android_zc/assets
/package/android_zc/libs/armeabi
/package/android_zc/obj
/package/android_zc/gen
/package/android_zc/bin
/package/android_zc/build

/package/android_zc_lh/assets
/package/android_zc_lh/libs/armeabi
/package/android_zc_lh/obj
/package/android_zc_lh/gen
/package/android_zc_lh/bin
/package/android_zc_lh/build


package/ios/lszb_appstore/lszb.xcodeproj/xcuserdata/ratazzi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
package/ios/lszb_itools/lszb.xcodeproj/xcuserdata/ratazzi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
package/ios/lszb_itools/lszb.xcodeproj/project.xcworkspace/xcshareddata/
package/ios/pkgrepo/assetsitools/
package/ios/pkgrepo/assetspgy/
package/ios/Crashlytics.framework/submit
