<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppName</key>
	<string>nezhaguilai</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>封神小鲜肉</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>57.png</string>
		<string>114.png</string>
		<string>72.png</string>
		<string>144.png</string>
		<string>76.png</string>
		<string>120.png</string>
		<string>152.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>57.png</string>
				<string>114.png</string>
				<string>72.png</string>
				<string>144.png</string>
				<string>76.png</string>
				<string>120.png</string>
				<string>152.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.yunyuegame.fengshen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.00010</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nezhaguilai</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.00010</string>
	<key>CHARTBOOST_APP_ID</key>
	<string>55950d2b0d6025324b7ef7dc</string>
	<key>CHARTBOOST_APP_SIGNATURE</key>
	<string>5fb730f63a89a4737cc83f5ebaac6aed2444320f</string>
	<key>CrashlyticsAPIKey</key>
	<string>4cc75653c1ccc9c227e6d7a8b3f12d94488935a8</string>
	<key>CrashlyticsDebugMode</key>
	<false/>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>0c890ee649683691fc1c0ae137abecb9794fd80c</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SdkType</key>
	<string>14</string>
	<key>TALKINGDATA_APP_ID</key>
	<string>bef658af2196479cbd54572c340e2036</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/YunYueFont.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>YYPackageName</key>
	<string>app</string>
	<key>ZC_PAYMENT_APP_ID</key>
	<string>547347373077037056</string>
	<key>ZC_PAYMENT_CHANNEL</key>
	<string>0</string>
	<key>ZC_PAYMENT_NOTIFY_URL</key>
	<string>http://sdk.nataku.yunyuegame.com/sdk/zcgame/pay_callback</string>
	<key>ZC_PAYMENT_URL_SCHEME</key>
	<string>nezhaguilai</string>
	<key>reyun_appid</key>
	<string>149036952149c6869fa32ce2f9805258</string>
</dict>
</plist>
